@page
@using Web
@using Entities
@model JournalBank.Pages._App.Journals.Records.Index
@{
}

<div class="row py-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title d-flex justify-content-between align-items-center">
                            اطلاعات مجله
                        </h4>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-dark" asp-page="@PageUrl.Journals" >
                            @Glossary.Back
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="row mb-2">
                            <div class="col-3 text-muted">شناسه:</div>
                            <div class="col-9">@Model.JournalInfo.Id</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3 text-muted">عنوان مجله:</div>
                            <div class="col-9">@Model.JournalInfo.Title</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3 text-muted">وب سایت:</div>
                            <div class="col-9">@Model.JournalInfo.Website</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3 text-muted">ناشر:</div>
                            <div class="col-9">@Model.JournalInfo.Publisher</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3 text-muted">کشور:</div>
                            <div class="col-9">@Model.JournalInfo.Country</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12 px-3 my-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-left">
                        <a class="btn btn-gradient-primary px-5" asp-page="@PageUrl.AddJournalsRecord" asp-route-journalId="@Model.JournalInfo.Id">
                            @Glossary.AddRecord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="example1" class="table table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>شناسه</th>
                            <th>نام مجله</th>
                            <th> دسته</th>
                            <th>سال</th>
                            <th>نمایه</th>
                            <th>نوع</th>
                            <th>رتبه</th>
                            <th>IF</th>
                            <th>MIF</th>
                            <th>AIF</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.JournalRecords.Any())
                        {
                            foreach (var record in Model.JournalRecords)
                            {
                                <tr>
                                    <td>@record.Id</td>
                                    <td>@record.JournalTitle</td>
                                    <td>@record.Category</td>
                                    <td>@record.Year</td>
                                    <td>@record.Index</td>
                                    <td>@record.Type</td>
                                    <td>@record.QRank</td>
                                    <td>@record.If</td>
                                    <td>@record.Mif</td>
                                    <td>@record.Aif</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
